
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS Workshop</title>
</head>
<body>
    <!-- Exercise #3  header-->
    <%- include('_header') %>
    <h1><%= message %></h1>

    <% if (items && items.length > 0) { %>
        <ul>
            <% items.forEach(item => { %>
                <li><%= item %></li>
            <% }) %>
        </ul>
    <% } %>
    <!-- exercise 4 -->
    <% if (tulostetaanko) { %>
        <p><%= conditionalmessage %></p>
    <% } else { %>
        <p>[salainen viesti ei nähtävissä]</p>
    <% } %>

    <!-- exercise 5 -->
    <% if (users) { %>
        <ul>
            <% users.forEach(user => { %>
                <li><%= user.name %> - Age: <%= user.age %></li>
            <% }) %>
        </ul>
    <% } %>


    <!-- Exercise #3 footer-->
    <%- include('_footer') %>



</body>
</html>
